/* PlaceOrder.css */

.placeOrderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust height as needed */
}

.placeOrderBox {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.placeOrderHeading {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.orderDetails {
  margin-bottom: 20px;
}

.orderItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.itemName {
  flex: 2;
}

.itemPrice {
  flex: 1;
  text-align: right;
}

.orderProgress {
  text-align: center;
}

.orderProgress h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.orderProgress p {
  font-size: 14px;
  color: #666;
}
