/* productDetails.css */

.ProductDetails {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Adjust alignment as needed */
  margin: 1rem 0;
}

.imageContainer {
  width: 50%; /* Adjust width as needed */
}

.simpleCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CarouselImage {
  width: 100%; /* Adjust image size as needed */
  height: auto;
  max-width: 300px; /* Example width */
  margin-bottom: 10px;
}

.productInfo {
  flex: 1;
  margin-left: 20px;
}

.quantityControl {
  display: flex;
  align-items: center;
}

.quantityControl-buttons {
  display: flex;
  align-items: center;
}

.quantityControl button {
  background-color: black; /* Black color for quantity control buttons */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.quantityControl input {
  border: 1px solid #ccc;
  padding: 5px;
  width: 50px;
  text-align: center;
  margin: 0 5px;
}

.detailsBlock {
  margin-bottom: 20px;
}

.addToCartBtn {
  background-color: tomato; /* Tomato color for Add to Cart button */
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
}

.removeFromCartBtn {
  background-color: tomato; /* Tomato color for Remove from Cart button */
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.greenColor {
  color: green;
}

.redColor {
  color: red;
}

.descriptionBox {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.descriptionBox h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
